{% extends "base.html.twig" %}

{% block title %}
    Напоминание пароля
{% endblock %}

{% block content %}
    <div class="container d-flex flex-wrap justify-content-center">
        <div class="block-login">
            <div>
                <span class="h3">Напоминание пароля</span>
            </div>
            <div class="tab-content py-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab" tabindex="0">
                    <form class="ajaxForm" action="/api/show-password" method="post">
                        <div class="mb-3">
                            <label for="loginLogin" class="form-label">Логин</label>
                            <input required name="login" type="login" class="form-control" id="loginLogin">
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
